html {
	font-size: 25px;
	font-family: 'IBM Plex Mono', monospace;
	cursor: none;
}

body {
	background-color: #4A7B63;
}

@media screen and (max-width:500px) {
	nav {
		margin: 10%;
	}
	h1 {
		font-size: 15px;
	}
}

nav {
	margin: 10% 40% 10% 10%;
}

a, h1 {	
	color: #D9D8D6;
}

a:link {
	text-decoration: none;
}

a:hover {
	color: 	#FFC166;
}

.strong {
	font-weight: bold;
}

.media-scroller {
	width: 80%;
	margin: 10% auto;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 90%;
	overflow-x: auto;
	overscroll-behavior-inline: contain;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.media-scroller::-webkit-scrollbar {
	display: none;
}

.media-element {
	display: grid;
	grid-template: min-content;
	padding: .25%;
}

.media-element > img {
	inline-size: 100%;
	object-fit: cover;
}

.media-element > video {
	inline-size: 100%;
	object-fit: cover;
}

div.cursors div {
  position: absolute;
  top: 300px;
  left: 300px;
  width: 20px;
  height: 20px;
  background-color: #FFC166;
  border-radius: 50%;
  z-index: 10000;
  pointer-events: none;
  transform: translate(-50%, -50%);
}