html {
	font-size: 45px;
	font-family: 'IBM Plex Mono', monospace;
	cursor: none;
}

body {
	background-color: #4A7B63;
}

nav {
	margin: 10%;
}

a, h1 {	
	color: #D9D8D6;
}

a:link {
	text-decoration: none;
}

a:hover {
	color: 	#FFC166;
}

.strong {
	font-weight: bold;
}

video {
	width: 50%;
	display: block;
	margin: 5% auto;
	border: 5%;
}

img {
	width: 50%;
	display: block;
	margin: 5% auto;
	border: 5%;
}

div.cursors div {
  position: absolute;
  top: 300px;
  left: 300px;
  width: 20px;
  height: 20px;
  background-color: #FFC166;
  border-radius: 50%;
  z-index: 10000;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

